@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.navigation {
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    background-color: #4b5881;
    position: fixed;
    width: 100%;
}

.navigation .button {
    text-decoration:none;
    float: left;
    display: block;
    background-color: #4b5881;
    color: white;
    text-align: center;
    border: none;
    padding: 30px 30px;
    font-size: 25px;
}

.navigation button:hover {
    cursor: pointer;
    background-color: #4b5881;
}

body {
    margin: 0;
    background-color: #556391;
    /*
    animation-name: bodyColor;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    */
    
}
/*
@keyframes bodyColor {
    0% {background-color: #433c5d;}
    25% {background-color: #433c5d;}
    50% {background-color: #433c5d;}
    75% {background-color: #38324d;}
    100% {background-color: #38324d;}
}
*/

.textArea {
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    border-radius: 5px;
    border-width: 1px;
    border-color: #72659a;
    background-color: #424d70;
    min-width: 25%;
    max-width: 50%;
    text-align: left;
    padding:  8px 8px;
}

.textArea h1 {
    text-align: center;
}

.textArea hr {
    background-color: #221e2e;
    height: 5px;
    border: none;
    border-radius: 4px;
}

.textArea .center {
    text-align: center;
}

.fancyButton {
    background-color: #221e2e;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 40px;
    cursor: pointer;
    width: 33%;
}
