@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.navigation {
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    background-color: #675b8b;
    position: fixed;
    width: 100%;
}

a {
    text-decoration: underline;
    color: #221e2e;
}

.navigation .button {
    text-decoration:none;
    float: left;
    display: block;
    background-color: #675b8b;
    color: white;
    text-align: center;
    border: none;
    padding: 30px 30px;
    font-size: 25px;
}

.navigation button:hover {
    cursor: pointer;
    background-color: #8074a4;
}

body {
    margin: 0;
    background-color: #8074a4;
    /*
    animation-name: bodyColor;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    */
    
}

@keyframes shinyImage {
    0% { filter: brightness(95%)}
    25% { filter: brightness(95%)}
    50% { filter: brightness(95%)}
    75% { filter: brightness(100%);}
    100% { filter: brightness(100%);}
}


.textArea {
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    border-radius: 5px;
    border-width: 1px;
    border-color: #72659a;
    background-color: #72659a;
    min-width: 25%;
    max-width: 50%;
    text-align: left;
    padding:  8px 8px;
}

.textArea h1 {
    text-align: center;
}

.textArea hr {
    background-color: #221e2e;
    height: 5px;
    border: none;
    border-radius: 4px;
}

.textArea .center {
    text-align: center;
}

.fancyButton {
    background-color: #221e2e;
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 40px;
    cursor: pointer;
    width: 33%;
}

img {
    animation-name: shinyImage;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    border-radius: 20px;
}
